<style>
  img { width: 100px; }
  img { height: 100px; }
</style>

<% if @tile.nil? && @score.nil? %>
	<% 0.upto(1).each do |x| %>
	  <% 0.upto(2).each do |y| %>
	    <%= image_tag(@all_tiles["#{x},#{y}"]) %>
	  <% end %>
	  <br/>
	<% end %>

	<form method="POST" action="/games/memory">
	  <input type="Submit" value="Start!">
	  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
	</form>

<% elsif @score.nil? %>

    <%= image_tag(@tile) %>
	<form method="POST" action="/games/memory">
	  <input type="hidden" name="correct_answer" value="<%= @tile_loc %>"/>
	  <select name="x">
	  	<option value="0">1</option>
	  	<option value="1">2</option>
	  </select>
	  <select name="y">
	  	<option value="0">1</option>
	  	<option value="1">2</option>
	  	<option value="2">3</option>
	  </select>
	  <input type="submit" value="choose"/>
	  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
	</form>
<% else %>
  
  YOUR SCORE: <%= @score %>

<% end %>